@{
    ViewData["Title"] = "Home Page";
   
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Iniciar Sesión</title>

    <script src="/Account/Login.js"></script>
    <link href="~/stylesCSS/components/_loguincard.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5823d0daaf.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="contenedor_">
        <div class="formulario">
            <form action="#" id="login_usuario">
                <h2><img src="/stylesCSS/Images/contasoft.png" width="230" height="120" /></h2>

                <div id="selectModulos" class="custom-select" name="selectModulos" data-required="true">
                    <div class="selected">
                        <span></span>
                        <i class="fa-solid fa-circle-chevron-down"></i>
                    </div>
                    <ul class="options"></ul>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-user"></i>
                    <input id="usuario" type="text" data-required="true" placeholder=" " />
                    <label for="usuario">usuario</label>
                </div>

                <div class="input-contenedor">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" data-required="true" name="Password" placeholder=" " />
                    <label for="password">Contraseña</label>
                </div>

                <div class="switch-contenedor">
                    <label class="switch">
                        <input type="checkbox" class="toggle-pwd" data-pwd-id="password" id="togglePassword">
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="aaa">
                    <button type="button" id="boton_sesioon" data-scope="login" data-action="validar">Iniciar Sesión</button>
                </div>

                <div class="www d-none">
                    <p><a href="Formularioolvidecontraseña.html">¿Olvidaste tu contraseña?</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>