# Build
bin/
obj/
**/bin/
**/obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
*.cache
*.svd

# Backup folders
*BCK/
*Backup/
*Bck/

# Logs
*.log

# Publish
publish/

# Secrets
appsettings.Development.json

# Others
*.db
