*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body{
    background: url(Imagen/inicio\ sesion.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container{
    width: 100%;
    max-width: 550px;
    margin: 0;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 999;
}

.header{
    text-align: center;
    margin-bottom: 35px;
}

.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0 auto 20px;
    font-size: 48px;
    color: white;
    animation:salto .3s infinite;
}

@keyframes salto {
    0%, 100% {top: 4;}
    30% {top: -25px;}
}

a{
    width: 40px;
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: left;
    color: white;
    text-decoration: none;
}

.header h3{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.header p{
    display: flex;
    justify-content: left;
    font-size: 16px;
    color: white;
}

.pin{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.pin .code-input{
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
    border-color: black;
    border: 3px solid black;
    border-radius: 10px;
    outline: none;
}

.pin .code-input:focus{
    border: 3px solid #346CC3;
}

.pin .code-input:nth-child(n+2){
    margin-left: 15px;
}

.btn-wrap button{
    width: 100%;
    padding: 15px 30px;
    border-radius: 8px;
    background-color:  black;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .6s;
}

.btn-wrap button:hover{
    width: 100%;
    padding: 15px 30px;
    border-radius: 8px;
    background-color:  #346CC3;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media(max-width:475px){
    .pin .code-input:nth-child(n+2){
        margin-left: 5px;
    }
}