/* === BOTÓN DE BÚSQUEDA (AZUL) === */
.btn-forms {
  background-color: #0d6efd; /* Azul Bootstrap */
  color: #fff;
  border: none;
  border-radius: 17px;
  padding: 8px 14px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(13, 110, 253, 0.3);
}

.btn-forms:hover {
  background-color: #0b5ed7;
  box-shadow: 0 3px 8px rgba(13, 110, 253, 0.4);
}


@media (min-width: 768px) and (max-width: 1632px) {
  .btn-forms {
   background-color: #0d6efd; /* Azul Bootstrap */
   color: #fff;
   border: none;
   border-radius: 14px;
   padding: 5px 10px;
   transition: all 0.3s ease;
   box-shadow: 0 2px 6px rgba(13, 110, 253, 0.3);       /* Espaciado más compacto */
  }

  .btn-forms:hover {
   background-color: #0b5ed7;
   box-shadow: 0 3px 8px rgba(13, 110, 253, 0.4);
  }
}
