/* === CHECKBOX PERSONALIZADO === */
.check-opcion .form-check-input {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #0d6efd;
  cursor: pointer;
  transition: all 0.2s ease;
}

.check-opcion .form-check-input:checked {
  background-color: #0d6dfd00;
  border-color: #0d6efd;
}

.check-opcion .form-check-label {
  margin-left: 0.4rem;
  font-weight: 500;
  color: #495057;
  cursor: pointer;
}



/* === INPUT, SELECTS PERSONALIZADO === */
.inp-text{
    border-radius: 20px !important;
    max-height: 50px;
}